/* Existing style.css content */
.progress-text {
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
}
.progress-text-container {
    text-align: center;
    margin-top: 5px;
}
.progress-container {
    margin-top: 20px;
}

/* Remove styling that interferes with Materialize CSS */
.variable-checkbox {
    opacity: 1;
    pointer-events: auto;
}

/* Added or modified styles for checkbox column width */
table#unusedVariablesTable th:first-child,
table#unusedVariablesTable td:first-child {
    width: 50px; /* Adjust the width as needed */
    text-align: center;
}

/* Ensure the programDropdown is on top when active */
.choices__list--dropdown {
    z-index: 100;
}

#unusedVariablesFilter {
    z-index: 1000;
}


